html{
  scroll-behavior: smooth;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
#top-bar{
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: 2px 4px 2px rgb(17 16 16 / 50%);
  padding: 15px 0;
  min-height: 8vh;
  margin-top: 0vh;
  position: fixed;
  z-index: 50;
  background-color: #fff;
}
.logo a {
  text-decoration: none;
  color: #000;
}
.logo a h4{
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 3px;
  cursor: pointer;

}
.logo a h4 span{
  color: #009688;
  letter-spacing: 1px;
  font-weight: 900;
}
.nav-link{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 30%;
  padding-top: 8px;
}
.nav-link li a {
  text-decoration: none;
  font-size: 14px;
  color: rgb(27, 25, 25);
  text-transform: uppercase;
  font-weight:600;
  letter-spacing: 2px;
  transition: all 0.2s;
}
.nav-link li a:hover{
  color: #009688;
}
.icon{
  display: flex;
  color: rgb(27, 25, 25);
}
.icon i {
  padding-top: 8px;
  font-size: 22px;
  cursor: pointer;
  margin-right: 50px;
}
.icon .cart{
  position: relative;
}
.icon .cart a{
  color: rgb(27, 25, 25);
}
.icon .cart a span{
  color: #fff;
  background-color: #009688;
  border-radius: 50%;
  font-size: 14px;
  padding: 5px 8px;
  position: absolute;
  top: 0;
}
.burger{
  display: none;
  padding: 5px;
  cursor: pointer;
}
.burger div{
  width: 35px;
  height: 3px;
  margin: 5px;
  background-color: #000;
  transition: all 0.5s ease;
}
#order-confirm{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20% 8%;
  height: 100vh;
}
.circle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16rem;
  width: 16rem;
  border-radius: 50%;
  background-color: rgb(47, 185, 47);
  animation:animate 2s linear infinite;;
}
@keyframes animate {
  0%{
      box-shadow: 0 0 0 0 rgb(50, 177, 50), 0 0 0 0 rgb(43, 167, 43)
  }
  40%{
      box-shadow: 0 0 0 50px rgb(115, 238, 115), 0 0 0 0 rgb(133, 238, 133);
  }
  80%{
      box-shadow: 0 0 0 50px rgba(39, 184, 169, 0), 0 0 0 30px rgba(72, 209, 195, 0);
  }
  100%{
      box-shadow: 0 0 0 0 rgb(0 150 136 / 0%), 0 0 0 30px rgb(0 150 136 / 0%);
  }
}
#tick-item{
  font-size: 25px;
}
.order-placed h3{
  position: absolute;
  bottom: 8rem;
  left: 35rem;
  font-size: 32px;
font-weight: 500;

}
.order-placed h2{
  position: absolute;
  bottom: 5rem;
  left: 30rem;
  font-size: 24px;
font-weight: 500;
/* margin-bottom: 35px; */
}
footer{
  background-color: rgb(27, 25, 25);
  height: 200px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer ul li{
  list-style:none;
  color: #b8b8b8;
  font-size: 12px;
  margin-bottom: 12px;
  cursor: pointer;
}
footer ul li h3{
  text-decoration: none;
  color: #dcdcdc;
  font-size: 16px;
  margin-bottom: 10px;
}
footer ul li a{
  text-decoration: none;
  color: #b8b8b8;
  font-size: 12px;
}
footer ul li a:hover{
  color: #009688;
}
